/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /*background: linear-gradient(90deg, rgba(254, 198, 1) 0%, rgba(234, 115, 23) 100%);*/
  background: radial-gradient(rgba(254, 198, 1) 0%, rgba(234, 115, 23) 100%);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
