name: Release ✈️

on:
  pull_request:
    types: [ closed ]
    branches:
      - main

jobs:
  cancel-previous:
    name: Cancel Publishing
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Build
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

  create-release:
    if: ${{ (github.event.pull_request.merged == true) && (contains(github.event.pull_request.labels.*.name, 'release :tada:')) }}
    name: Create Release
    runs-on: ubuntu-latest
    needs: cancel-previous
    env:
      GITHUB_TOKEN: ${{ secrets.AUTO_RELEASE_PAT }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Major Version Bump
        if: ${{ contains(github.event.*.labels.*.name, 'major :1st_place_medal:') }}
        run: make version BUMP=major
      - name: Minor Version Bump
        if: ${{ contains(github.event.*.labels.*.name, 'minor :2nd_place_medal:') }}
        run: make version BUMP=minor
      - name: Patch Version Bump
        if: ${{ contains(github.event.*.labels.*.name, 'patch :3rd_place_medal:') }}
        run: make version BUMP=patch
