name: Release ✈️

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: write

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Version Bump
        uses: hopeman15/verselicious@ee7da8adfe74e4e24ded07450f564697c13ca3e3 # v0.1.0
        with:
          github_token: ${{ secrets.RELEASE_TOKEN }}
          major_label: 'major :1st_place_medal:'
          minor_label: 'minor :2nd_place_medal:'
          patch_label: 'patch :3rd_place_medal:'
