name: Model Forge

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  cancel-previous:
    name: Cancel Previous
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Build
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: cancel-previous
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2.3.0
        with:
          java-version: 1.8
      - name: Lint
        run: make lint
      - name: Test
        run: make test
      - name: Coverage
        run: make coverage
      - name: Report
        uses: codecov/codecov-action@v2.1.0
        with:
          fail_ci_if_error: true
