name: Model Forge

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  cancel-previous:
    name: Cancel Previous
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Build
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

  test:
    runs-on: ubuntu-latest
    needs: cancel-previous
    strategy:
      matrix:
        java: [ '8','11','17' ]
    name: Test with Java ${{ matrix.java }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v3.1.0
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'gradle'
      - name: Lint
        run: make lint
      - name: Test
        run: make test
      - name: Coverage
        run: make coverage
      - name: Report
        run: bash <(curl -s https://codecov.io/bash)
