name: Model Forge

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  documentation:
    name: Generate Dokka Docs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11','17' ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v5.0.0
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'gradle'
      - name: Generate Docs
        run: make docs

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11','17' ]
    name: Test with Java ${{ matrix.java }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v5.0.0
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'gradle'
      - name: Lint
        run: make lint
      - name: Test
        run: make test

  report:
    name: "Report"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: "Generate Coverage Report"
        run: make coverage
      - name: "Upload Coverage Report"
        uses: codecov/codecov-action@v5.5.1
        with:
          files: ./build/reports/kover/result.xml
          token: ${{ secrets.CODECOV_TOKEN }}
