name: Publishing

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  cancel-previous:
    name: Cancel Publishing
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Build
        uses: styfle/cancel-workflow-action@0.10.0
        with:
          access_token: ${{ github.token }}

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: cancel-previous
    env:
      SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
      SONATYPE_PWD: ${{ secrets.SONATYPE_PWD }}
      SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
      SIGNING_PWD: ${{ secrets.SIGNING_PWD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3.4.1
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'gradle'
      - name: Publish
        run: |
          export IS_RELEASE=${{ github.event_name == 'push' && contains(github.ref, 'refs/tags/') }}
          make publish
